# FIFA World Cup 2022 Bidding Committee: 
# Predicting the 2030 World Cup Host - An ETL Project

## Team:
✰ Isaac Perez
✰ Michelle Risucci
✰ Alex Reyes

## Background

We are apart of the FIFA Data Team who is currently compiling data to help evaluate the 2030 FIFA World Cup bidding process. The FIFA World Cup is an international football tournament contested by the senior men's national teams from the FIFA governing body.

There are currently a few proposed "host bids" from multiple European and South American countries at this time but our FIFA Data Team would like to evaluate other potential host candidates who have not officially submitted bids. Our ETL project hopes to use the FIFA World Team Rankings and the World Happiness Reports from 2015-2019 to aid the 2022 FIFA World Cup bidding committee in evaluating potential host candidates. The following dataset pieces will be analyzed: GDP per capita, Social Support, Perceptions of Corruption, International FIFA Rankings, and Overall citizen "Happiness" rank.

## Objective
The 2022 FIFA World Cup Committee would ideally like to select a host country that has a strong supportive economy, a good ranked football team, and a good group of "Happy" football fans. Our group's project data aims to meet all those goals.

## Extract

Our team used two different datasets from <www.Kaggle.com>. These two dataset links are located below:

"FIFA World Ranking 1992-2020" https://www.kaggle.com/cashncarry/fifaworldranking

"World Happiness Report up to 2020" https://www.kaggle.com/mathurinache/world-happiness-report

## Transform

#### FIFA World Ranking 1992-2020 Data Cleaning:

* Dependencies: pandas / numpy / datetime
* Imported "data/fifa_ranking_2020_11_26.csv" from /data folder. 
* Extracted useful columns from original .csv. 
* Cleaned up data from 2015 to 2019 via the .loc method. 
* Identified unique countries and confederations. 
* Grouped international football teams by confederation via the groupby method.
* Developed a function to calculate the average FIFA World Ranking (2015-2019) by Confederation.
* Developed a function to calculate the average FIFA World Ranking (2015-2019) by Country.
* Converted new dataframe to "data/fifa_data_clean.csv" in the /data folder.

In [1]:
# Dependencies

import pandas as pd
import numpy as np
import datetime as dt
import os
import glob

In [2]:
# Read in the csv using pandas

fifa_csv = "FIFA/data/fifa_ranking_2020_11_26.csv"
fifa_df = pd.read_csv(fifa_csv)
fifa_df.head()

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43948,1,Germany,GER,57,0,0,UEFA,1992-12-31
1,43873,107,Mozambique,MOZ,9,0,0,CAF,1992-12-31
2,43816,108,Indonesia,IDN,9,0,0,AFC,1992-12-31
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,1992-12-31
4,43820,110,Jordan,JOR,8,0,0,AFC,1992-12-31

In [3]:
# Drop rows with any empty cells

fifa_df.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True)
fifa_df.columns

Index(['id', 'rank', 'country_full', 'country_abrv', 'total_points',
       'previous_points', 'rank_change', 'confederation', 'rank_date'],
      dtype='object')

In [4]:
# Extract the following columns: "id", "rank", "country_full", "confederation", "rank_date"

fifa_data_df = fifa_df[["id", "rank", "country_full", "confederation", "rank_date"]]
fifa_data_df.head()

        id  rank         country_full confederation   rank_date
0    43948     1              Germany          UEFA  1992-12-31
1    43873   107           Mozambique           CAF  1992-12-31
2    43816   108            Indonesia           AFC  1992-12-31
3  1882218   109  Antigua and Barbuda      CONCACAF  1992-12-31
4    43820   110               Jordan           AFC  1992-12-31

In [5]:
# Clean up data from > 2015

fifa_data_clean2015 = fifa_data_df.loc[fifa_data_df["rank_date"] >= "2015-01-01", :]
fifa_data_clean2015

            id  rank country_full confederation   rank_date
48970    43961    67       Norway          UEFA  2015-01-08
48971    43910    75      Jamaica      CONCACAF  2015-01-08
48972    43908    73        Haiti      CONCACAF  2015-01-08
48973    43906    73    Guatemala      CONCACAF  2015-01-08
48974    43909    72     Honduras      CONCACAF  2015-01-08
...        ...   ...          ...           ...         ...
62209  1930407    76      Curaçao      CONCACAF  2020-11-26
62210    43914    78       Panama      CONCACAF  2020-11-26
62211    43889    79       Uganda           CAF  2020-11-26
62212    43850    81   Cabo Verde           CAF  2020-11-26
62213    43945    54      Finland          UEFA  2020-11-26

[13244 rows x 5 columns]

In [6]:
# Clean up data from < 2019

fifa_data_clean = fifa_data_clean2015.loc[fifa_data_clean2015["rank_date"] <= "2019-12-31", :]
fifa_data_clean

          id  rank         country_full confederation   rank_date
48970  43961    67               Norway          UEFA  2015-01-08
48971  43910    75              Jamaica      CONCACAF  2015-01-08
48972  43908    73                Haiti      CONCACAF  2015-01-08
48973  43906    73            Guatemala      CONCACAF  2015-01-08
48974  43909    72             Honduras      CONCACAF  2015-01-08
...      ...   ...                  ...           ...         ...
60739  43814   141            Hong Kong           AFC  2019-12-19
60740  43919   141             Suriname      CONCACAF  2019-12-19
60741  43980   141      Solomon Islands           OFC  2019-12-19
60742  43842   144                Yemen           AFC  2019-12-19
60743  43916   139  St. Kitts and Nevis      CONCACAF  2019-12-19

[11774 rows x 5 columns]

In [7]:
# Find FIFA unique countries on the list

country_count = len(fifa_data_clean["country_full"].unique())
print(f" The number of potential countries to host the event are: {country_count}.")

 The number of potential countries to host the event are: 211.

In [8]:
# Fifa rank goes from 1-211 in some instances, verified in Excel

rank_count = len(fifa_data_clean["rank"].unique())
print(f" There are currently {rank_count} FIFA ranked countries in our dataset.")

 There are currently 211 FIFA ranked countries in our dataset.

In [9]:
# Number of confederations in Fifa World Rankings

confederation_count = len(fifa_data_clean["confederation"].unique())
print(f" There are currently {confederation_count} FIFA Confederations in the FIFA governing body.")

 There are currently 6 FIFA Confederations in the FIFA governing body.

In [10]:
# Name & Count of every potential "host" country that's been listed into the database.

df_country_groupby = fifa_data_clean.groupby("country_full")
df_country_nunique = df_country_groupby["country_full"].nunique()
df_country_nunique

country_full
Afghanistan       1
Albania           1
Algeria           1
American Samoa    1
Andorra           1
                 ..
Vietnam           1
Wales             1
Yemen             1
Zambia            1
Zimbabwe          1
Name: country_full, Length: 211, dtype: int64

##### Confederations
* AFC - Asian Football Confederation 
* CAF - Confederation of African Football 
* CONCACAF - Confederation of North, Central America and Caribbean Association Football 
* CONMEBOL - South American Football Confederation 
* OFC - Oceania Football Confederation 
* UEFA - Union of European Football Associations

In [11]:
# Number of national teams in each confederation. 

df_confederation_groupby = fifa_data_clean.groupby("confederation")
df_confederation_groupby.nunique()

               id  rank  country_full  confederation  rank_date
confederation
AFC            46   186            46              1         56
CAF            54   190            54              1         56
CONCACAF       35   200            35              1         56
CONMEBOL       10    88            10              1         56
OFC            11    89            11              1         56
UEFA           55   205            55              1         56

In [12]:
# Calculate the average FIFA World Ranking by Confederation

df_AFC_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "AFC"].mean()
print("AFC")
print(df_AFC_average_rank)
print("Number of Teams: 46")
print("----------")

df_CAF_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "CAF"].mean()
print("CAF")
print(df_CAF_average_rank)
print("Number of Teams: 54")
print("----------")

df_CONCACAF_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "CONCACAF"].mean()
print("CONCACAF")
print(df_CONCACAF_average_rank)
print("Number of Teams: 35")
print("----------")

df_CONMEBOL_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "CONMEBOL"].mean()
print("CONMEBOL")
print(df_CONMEBOL_average_rank)
print("Number of Teams: 10")
print("----------")

df_OFC_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "OFC"].mean()
print("OFC")
print(df_OFC_average_rank)
print("Number of Teams: 11")
print("----------")

df_UEFA_average_rank = fifa_data_clean[fifa_data_clean["confederation"] == "UEFA"].mean()
print("UEFA")
print(df_UEFA_average_rank);
print("Number of Teams: 55")
print("----------")

AFC
id      81921.760870
rank      131.996506
dtype: float64
Number of Teams: 46
----------
CAF
id      112328.796296
rank       106.419643
dtype: float64
Number of Teams: 54
----------
CONCACAF
id      200120.771429
rank       132.582653
dtype: float64
Number of Teams: 35
----------
CONMEBOL
id      43926.500000
rank       27.467857
dtype: float64
Number of Teams: 10
----------
OFC
id      207844.058824
rank       174.774510
dtype: float64
Number of Teams: 11
----------
UEFA
id      123117.298488
rank        64.958580
dtype: float64
Number of Teams: 55
----------

In [13]:
# Calculate the average FIFA World Ranking by previous host countries. 

df_russia_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "Russia"].mean()
print("Russia 2018")
print(df_russia_average_rank)
print("----------")

df_brazil_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "Brazil"].mean()
print("Brazil 2014")
print(df_brazil_average_rank)
print("----------")

df_south_africa_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "South Africa"].mean()
print("South Africa 2010")
print(df_south_africa_average_rank)
print("----------")

df_germany_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "Germany"].mean()
print("Germany 2006")
print(df_germany_average_rank)
print("----------")

df_japan_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "Japan"].mean()
df_korea_republic_rank = fifa_data_clean[fifa_data_clean["country_full"] == "Korea Republic"].mean()
print("Japan 2002")
print(df_japan_average_rank)
print("----------")
print("Korea Republic 2002")
print(df_korea_republic_rank)
print("----------")

df_france_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "France"].mean()
print("France 1998")
print(df_france_average_rank)
print("----------")

df_usa_average_rank = fifa_data_clean[fifa_data_clean["country_full"] == "USA"].mean()
print("USA 1994")
print(df_usa_average_rank)
print("----------")

Russia 2018
id      43965.000000
rank       45.178571
dtype: float64
----------
Brazil 2014
id      43924.000000
rank        3.785714
dtype: float64
----------
South Africa 2010
id      43883.000000
rank       69.053571
dtype: float64
----------
Germany 2006
id      43948.000000
rank        5.160714
dtype: float64
----------
Japan 2002
id      43819.000000
rank       48.517857
dtype: float64
----------
Korea Republic 2002
id      43822.000000
rank       50.142857
dtype: float64
----------
France 1998
id      43946.000000
rank        9.517857
dtype: float64
----------
USA 1994
id      43921.000
rank       26.625
dtype: float64
----------

In [15]:
# Convert to .csv file
fifa_data_clean = fifa_data_clean.to_csv("FIFA/data/fifa_data_clean2.csv", index=True)

#### World Happiness Report 2015-2019 Data Cleaning:

* Dependencies: pandas / os / glob
* Imported five happy_year.csv files from Happiness/Resources folder.
* Extracted useful columns from the five original happy_year.csv files.
* Cleaned up the data in each file by reorganizing and renaming columns.
* Created a new dataframe with country and region to merge into three individual happy_year.csv files.
* Evaluated the files for null values. 
* Eliminated all null values. 
* Converted new clean dataframes for each year and region dataframe into one dataframe "Happiness/Happy_All_years.csv".

In [19]:
# Create loop to read in each csv file

path = 'Happiness/Resources'
filenames = glob.glob(path + "/*.csv")

d = {}

for filename in filenames:
    d[filename] = pd.read_csv(filename)
    print(filename)

Happiness/Resources/2019.csv
Happiness/Resources/2018.csv
Happiness/Resources/2015.csv
Happiness/Resources/2016.csv
Happiness/Resources/2017.csv

##### 2015

In [18]:
# Save df to unique variable and create a new dataframe with select columns

df_2015 = d['Happiness/Resources/2015.csv']
new_df_2015 = df_2015[['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 
                       'Health (Life Expectancy)','Freedom', 'Trust (Government Corruption)', 'Generosity']].copy()
new_df_2015.rename(columns = {'Country': "country", 'Region': "region", 'Happiness Rank': "happiness rank", 
                             'Happiness Score': "happiness score", 'Economy (GDP per Capita)': "GDP",
                             'Health (Life Expectancy)': "health - life expectancy", 'Freedom':"freedom",
                             'Trust (Government Corruption)': "trust (govt corruption)", 'Generosity': "generosity"}, inplace=True)
new_df_2015.head()

KeyError: 'Happiness/Resources/2015.csv'

In [ ]:
# Search for missing values

new_df_2015.isnull().values.any()

In [ ]:
# Convert to .csv file

new_df_2015.to_csv('happy_2015.csv', index=False)

##### 2016

In [ ]:
# Save df to unique variable and create a new dataframe with select columns

df_2016 = d['Resources/2016.csv']
new_df_2016 = df_2016[['Country', 'Region', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 
                       'Health (Life Expectancy)','Freedom', 'Trust (Government Corruption)', 'Generosity']].copy()
new_df_2016.rename(columns = {'Country': "country", 'Region': "region", 'Happiness Rank': "happiness rank", 
                             'Happiness Score': "happiness score", 'Economy (GDP per Capita)': "GDP",
                             'Health (Life Expectancy)': "health - life expectancy", 'Freedom':"freedom",
                             'Trust (Government Corruption)': "trust (govt corruption)", 'Generosity': "generosity"}, inplace=True)
new_df_2016.head()

In [ ]:
# Search for missing values

new_df_2016.isnull().values.any()

In [ ]:
# Convert to .csv file

new_df_2016.to_csv('happy_2016.csv', index=False)

In [ ]:
# Create country region dataframe and convert to .csv file

region_df = new_df_2016[['country', 'region']].copy()
region_df.sort_values(by=['country'], inplace=True)

region_df.to_csv('happy_by_region', index=False)

region_df.head()

##### 2017

In [ ]:
# Save df to unique variable and create a new dataframe with select columns

df_2017 = d['Resources/2017.csv']
df_17 = df_2017[['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 
                       'Health..Life.Expectancy.','Freedom', 'Trust..Government.Corruption.', 'Generosity']].copy()
df_17.rename(columns = {'Country': "country", 'Happiness.Rank': "happiness rank", 
                             'Happiness.Score': "happiness score", 'Economy..GDP.per.Capita.': "GDP",
                             'Health..Life.Expectancy.': "health - life expectancy", 'Freedom':"freedom",
                             'Trust..Government.Corruption.': "trust (govt corruption)", 'Generosity': "generosity"}, inplace=True)
df_17.head()

In [ ]:
# Merge region_df on country for complete dataframe

merge_17 = df_17.merge(region_df, on='country')


# Create new dataframe and reindex columns

column_names = ('country', 'region', 'happiness rank', 'happiness score', 'GDP',
           'health - life expectancy', 'freedom', 'trust (govt corruption)',
           'generosity')
new_df_2017 = merge_17.reindex(columns=column_names)
new_df_2017.head()

In [ ]:
# Search for missing values 

new_df_2017.isnull().values.any()

In [ ]:
# Convert to .csv file

new_df_2017.to_csv('happy_2017.csv', index=False)

##### 2018

In [ ]:
# Save df to unique variable and create a new dataframe with select columns

df_2018 = d['Resources/2018.csv']
df_18 = df_2018[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy',
                      'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].copy()
df_18.rename(columns = {'Country or region': "country", 'Overall rank': "happiness rank", 
                             'Score': "happiness score", 'GDP per capita': "GDP",
                             'Healthy life expectancy': "health - life expectancy", 'Freedom to make life choices':"freedom",
                             'Perceptions of corruption': "trust (govt corruption)", 'Generosity': "generosity"}, inplace=True)
df_18

In [ ]:
# Merge region_df on country for complete dataframe

merge_18 = df_18.merge(region_df, on='country')


# Create new dataframe and reindex columns

column_names = ('country', 'region', 'happiness rank', 'happiness score', 'GDP',
           'health - life expectancy', 'freedom', 'trust (govt corruption)',
           'generosity')
new_df_2018 = merge_18.reindex(columns=column_names)
new_df_2018.head()

In [ ]:
# Search for missing values

new_df_2018.isnull().values.any()

In [ ]:
# Look up and remove null values

nan_values= new_df_2018[new_df_2018.isna().any(axis=1)]
(print)nan_values

clean_df_2018 = new_df_2018.dropna()
clean_df_2018.head()

In [ ]:
# Convert to .csv file

clean_df_2018.to_csv('happy_2018.csv', index=False)

##### 2019

In [ ]:
# Save df to unique variable and create a new dataframe with select columns

df_2019 = d['Resources/2019.csv']
df_19 = df_2019[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Healthy life expectancy',
                      'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']].copy()
df_19.rename(columns = {'Country or region': "country", 'Overall rank': "happiness rank", 
                             'Score': "happiness score", 'GDP per capita': "GDP",
                             'Healthy life expectancy': "health - life expectancy", 'Freedom to make life choices':"freedom",
                             'Perceptions of corruption': "trust (govt corruption)", 'Generosity': "generosity"}, inplace=True)
df_19

In [ ]:
# Merge region_df on country for complete dataframe

merge_19 = df_19.merge(region_df, on='country')

# Create new dataframe and reindex columns

column_names = ('country', 'region', 'happiness rank', 'happiness score', 'GDP',
           'health - life expectancy', 'freedom', 'trust (govt corruption)',
           'generosity')
new_df_2019 = merge_19.reindex(columns=column_names)
new_df_2019

In [ ]:
# Search for missing values

new_df_2019.isnull().values.any()

In [ ]:
# Convert to .csv file
new_df_2019.to_csv('happy_2019.csv', index=False)

## Load

After the raw data cleaning, we created three individual tables in PostgreSQL. The tables created are as follows:

"fifa" Base Table
    * Content Column_name [ id, rank, country_full, confederation, rank_date ] 

"happinessYear" Base Table
    * Content Column_name [ country, region, happinessrank, happinessscore, gdp, health, freedom, trust, generosity, happiessyear ]

"happinessRegion" Base Table
    * Content Column_name [ country, region ]